@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

/* ヘッダー */
@import "/css/style_mobile/style_header.css";

/* ホーム */
@import "/css/style_mobile/style_home.css";

/* ニュース */
@import "/css/style_mobile/style_news.css";

/* about */
@import "/css/style_mobile/style_about.css";

/* Skill */
@import "/css/style_mobile/style_skill.css";

/* Work */
@import "/css/style_mobile/style_work.css?20240627";

/* Link */
@import "/css/style_mobile/style_link.css";


body{
    background: rgb(255, 255, 255);
    font-family: "Noto Sans JP";
    margin: 0;
}

ul{
    list-style-type: none;
}


/* aタグを黒くする */
    a{
        color: #000;
        text-decoration: none;
        cursor:pointer;
    }

    a:hover{
        color: #000;
    }

.main-content{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 900px;
    /* border: 5px solid red; */
}

.box{
    margin-top: 100px;
}
.box h1{
    margin-bottom: 35px;
}


h1 span{
    padding: 3px;
    padding-bottom: 3px;
    border-bottom:3px solid #000000; 
}


.more-button{
    /* height: 100px; */
    margin-top: 30px;
    text-align: center;
}


.more-button a{
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: auto;
    border: 2px solid black;
    /* margin: auto; */
    padding: 4px 18px;
    /* display: inline-block; */
    transition-duration: .3s;
}


/*フッターのやつ*/
footer {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    margin-bottom:25px;
}
footer small {
    color: #5a5a5a;
    font-size: 13px;
    text-align: center;
    letter-spacing: .05em;
}
footer small a {
    text-decoration: none;
    text-decoration: none;
    color: #69c;
    cursor:pointer;
}
footer small a:hover{
    color:#069;
}

.pc-only{
    display:none;
}