@charset "utf-8";

/* members */
.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.members .name{
    text-align: left;
    font-size: 18px;
    font-weight: medium;
    margin-top: 5px;
    /* font-family: heisei-mincho-stdn; */
}

/* .members .name span{
    border-bottom: 1px dotted rgba(161,161,161,.7);
} */

.members li{
    width: 25%;
    padding: 20px;
}

.members figure{
    margin: 0;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    padding-top: 100%;
    overflow:hidden;
    border: 1px solid;
    position: relative;
}

.members figure img{
    transform: scale(1);
    transition: 0.4s all ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}

.members figure img:hover{
    transform: scale(1.1);
}

.member-tags{
    font-size: 12px;
    width: 100%;
    overflow: hidden;
}

.member-tags div{
    display: inline-block; _display: inline;
    margin-right: 5px;
    padding: 2px 4px;
    background-color: black;
    color: white;
}