.main-content .title{
    font-size: 64px;
    margin: 0;
    margin-bottom: 130px;
    letter-spacing: .2em;
}

.main-content{
    padding-top: 100px;
}

.main-content .description{
    margin-left: 100px;
    margin-right: 0px;

    font-size: 22px;
    font-family: heisei-mincho-stdn;

    line-height: 1.7;
}

.main-content .description p{
    margin-bottom: 33px;
}

.main-content .description .kime{
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 50px;
}