.about-content{
    font-size: 24px;
    font-family: heisei-mincho-stdn;
    padding: 0 6%;
    font-size: 18px;
    text-align: center;
}
.about-box h1{
    margin-bottom: 25px;
}

.about-box .sns-button{
    float: left;
    font-size: 30px;
    margin: 10px;
}

.about-box .sns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.aka-vtuber-otaku {
    text-decoration: none;
    text-decoration: none;
    color: rgb(29, 155, 240);
    cursor:pointer;
}

a.aka-vtuber-otaku:hover {
    text-decoration: underline;
    color: rgb(29, 155, 240);
}