/* links */
.links{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.links a{
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
}

.link{
    height: auto;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.link span{
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.links a{
    margin-bottom: 20px;
}

.links a{
    transition-duration: .3s;
}