/* works */
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work{
    width: 47%;
    aspect-ratio: 1.4 / 1;
    border: 1px solid black;
    margin-bottom: 50px;
    text-align: center;
    display:inline-block;
    position: relative;
}

.work .hvd-work{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
    color: white;
    transition: .2s ease-in-out;
    display: table;
}

.hvd-work span{
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.work a{
    width: 100%;
    height: 100%;
}

.work img{
    display:block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}