---
// ABOUT：明朝体の中央寄せ文。文言は当時のまま。
---
<div class="about-box box" id="about">
  <h1><span>ABOUT</span></h1>
  <div class="about-content">
    ひょうひゃんと申します<br />
    <br />
    新しいもの、変なもの、<br class="mobile-only" />一風変わったものが大好き<br />
    どんな事でもとりあえず<br class="mobile-only" />やってみる人<br />
    ネットワーク、プログラミング、<br class="mobile-only" />プレゼンに強いエンジニア<br />
    デザイナー、DJ、<br class="mobile-only" /><a class="aka-vtuber-otaku" href="https://hh.hyouhyan.com">VTuberオタクでもある</a>
  </div>
  <div class="sns mobile-only">
    <div class="twitter sns-button">
      <a href="https://x.com/yaa_oredayo"><div class="sns-logo"><i class="fa-brands fa-x-twitter"></i></div></a>
    </div>
    <div class="instagram sns-button">
      <a href="https://www.instagram.com/hyouhyan"><div class="sns-logo"><i class="fab fa-instagram"></i></div></a>
    </div>
    <div class="bluesky sns-button">
      <a href="https://bsky.app/profile/hyouhyan.com"><div class="sns-logo"><img alt="BlueSkyのロゴ" src="/img/Bluesky_Logo.svg" height="25" class="bluesky-icon" /></div></a>
    </div>
    <div class="github sns-button">
      <a href="https://github.com/hyouhyan"><div class="sns-logo"><i class="fab fa-github"></i></div></a>
    </div>
  </div>
</div>
