---
// 元サイトのヘッダーをそのまま。ロゴ・ナビ・SNS・ハンバーガー。
---
<header>
  <div class="left-top">
    <div class="logo">
      <a href="#home">
        <span class="ogla">Hyouhyan</span><span class="pro">.com</span>
      </a>
    </div>
    <div class="main-nav">
      <ul>
        <li><a href="#home" class="nav">HOME</a></li>
        <li><a href="#about" class="nav">ABOUT</a></li>
        <li><a href="#skill" class="nav">SKILL</a></li>
        <li><a href="#work" class="nav">WORK</a></li>
        <li><a href="#link" class="nav">LINK</a></li>
      </ul>
    </div>
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="right-top">
    <div class="sns">
      <div class="twitter sns-button">
        <a href="https://x.com/yaa_oredayo">
          <div class="sns-logo"><i class="fa-brands fa-x-twitter"></i></div>
          <span class="sns-id">@yaa_oredayo</span>
        </a>
      </div>
      <div class="instagram sns-button">
        <a href="https://www.instagram.com/hyouhyan">
          <div class="sns-logo"><i class="fab fa-instagram"></i></div>
          <span class="sns-id">@hyouhyan</span>
        </a>
      </div>
      <div class="bluesky sns-button">
        <a href="https://bsky.app/profile/hyouhyan.com">
          <div class="sns-logo"><img alt="BlueSkyのロゴ" src="/img/Bluesky_Logo.svg" height="25" class="bluesky-icon" /></div>
          <span class="sns-id">hyouhyan.com</span>
        </a>
      </div>
      <div class="github sns-button">
        <a href="https://github.com/hyouhyan">
          <div class="sns-logo"><i class="fab fa-github"></i></div>
          <span class="sns-id">hyouhyan</span>
        </a>
      </div>
      <div class="e-mail sns-button">
        <a href="mailto:hyouhyan@hyouhyan.com">
          <div class="sns-logo"><i class="far fa-envelope"></i></div>
          <span class="sns-id">hyouhyan@hyouhyan.com</span>
        </a>
      </div>
    </div>
  </div>
</header>
