---
// ホーム：大きなロゴ＋スクロールダウン矢印（当時のまま）
---
<div class="home-box" id="home">
  <img alt="ひょうひゃんロゴ" src="/img/hy_icon/hyouhyan-1080.webp" class="large-logo" />
  <a href="#about">
    <div class="scroll-down" id="scroll-down"></div>
  </a>
</div>
