.sample-box{
	position: rerative;
	width: 840px;
	height: 840px;
	display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.back-line{
	position: absolute;
	animation: 26s linear infinite rotation1;
}

@keyframes rotation1{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}

.mango{
	position: absolute;
}