@charset "utf-8";

@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Thin.woff") format("woff");
    font-weight: thin;
    font-weight: 100;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Light.woff") format("woff");
    font-weight: light;
    font-weight: 300;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Regular.woff") format("woff");
    font-weight: normal;
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Medium.woff") format("woff");
    font-weight: medium;
    font-weight: 500;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Bold.woff") format("woff");
    font-weight: bold;
    font-weight: 700;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("/font/Noto_Sans_JP/NotoSansJP-Black.woff") format("woff");
    font-weight: black;
    font-weight: 900;
}
