@charset "utf-8";

.about-content{
    font-size: 24px;
    font-family: heisei-mincho-stdn;
    text-align: center;
}
.about-box h1{
    margin-bottom: 25px;
}

a.aka-vtuber-otaku {
    text-decoration: none;
    text-decoration: none;
    color: rgb(29, 155, 240);
    cursor:pointer;
}
a.aka-vtuber-otaku:hover {
    text-decoration: underline;
    color: rgb(29, 155, 240);
}